apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--embedding"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/model: ibm-granite/granite-embedding-278m-multilingual
spec:
  volumes:
    - name: models
      hostPath:
        path: "/var/lib/ai-services/models"
        type: Directory
  containers:
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/ibm-granite/granite-embedding-278m-multilingual --served-model-name ibm-granite/granite-embedding-278m-multilingual --port 8001"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "4Gi"
        limits:
          memory: "4Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true