apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--summarize-api"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/ports: "{{ or .Values.summarize.port }}:6000"
spec:
  containers:
    - name: summarize-api
      image: "{{ .Values.summarize.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "uvicorn"
        - "summarize.app:app"
        - "--host"
        - "0.0.0.0"
        - "--port"
        - "6000"
        - "--loop"
        - "uvloop"
        - "--http"
        - "httptools"
      env:
        - name: PORT
          value: "6000"
        - name: LLM_ENDPOINT
          value: "http://{{ .AppName  }}--instruct:8000"
        - name: LLM_MODEL
          value: "ibm-granite/granite-3.3-8b-instruct"
        - name: LOG_LEVEL
          value: "{{ .Values.summarize.log_level}}"
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "1Gi"
      ports:
        - containerPort: 6000
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /health
          port: 6000
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
