apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--opensearch"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.pids-limit/opensearch: "4096"
spec:
  initContainers:
    - name: fix-permissions
      image: "{{ .Values.opensearch.image }}"
      command: ["sh", "-c", "chown -R 1000:1000 /usr/share/opensearch/data"]
      securityContext:
        runAsUser: 0
      volumeMounts:
        - name: opensearch-data
          mountPath: /usr/share/opensearch/data
  containers:
    - name: opensearch
      image: "{{ .Values.opensearch.image }}"
      env:
        - name: "discovery.type"
          value: "single-node"
        - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
          value: "{{ .Values.opensearch.auth.password }}"
        - name: OPENSEARCH_JAVA_OPTS
          value: "-Xms4g -Xmx4g -XX:MaxDirectMemorySize=2g -XX:-UseSuperWord -XX:TieredStopAtLevel=1"
      ports:
        - name: os-client-port
          containerPort: 9200
        - name: os-metrics-port
          containerPort: 9600
      resources:
        requests:
          memory: "{{ .Values.opensearch.memoryLimit }}"
        limits:
          memory: "{{ .Values.opensearch.memoryLimit }}"
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      volumeMounts:
        - mountPath: /usr/share/opensearch/data:z
          name: opensearch-data
      livenessProbe:
        exec:
          command:
          - curl
          - -fk
          - -u
          - {{ .Values.opensearch.auth.username }}:{{ .Values.opensearch.auth.password }}
          - https://localhost:9200/_cluster/health
        initialDelaySeconds: 90
        periodSeconds: 30
        timeoutSeconds: 20
        failureThreshold: 5

  volumes:
    - name: opensearch-data
      hostPath:
        path: "/var/lib/ai-services/applications/{{ .AppName }}/volumes/opensearch"
        type: DirectoryOrCreate
