apiVersion: v1
kind: Pod
metadata:
  name: "llm-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
    {{- if .Values.apiKey }}
    ai-services.io/secret: "vllm-secret-{{ .InstanceSlug }}"
    ai-services.io/volume: "vllm-secret-{{ .InstanceSlug }}"
    {{- end }}
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    io.podman.annotations.userns: "keep-id"
    run.oci.keep_original_groups: "1"
    ai-services.io/llm--spyre-cards: "4"
spec:
  restartPolicy: always
  volumes:
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
    {{- if .Values.apiKey }}
    - name: vllm-secret
      secret:
        secretName: "vllm-secret-{{ .InstanceSlug }}"
    {{- end }}
  containers:
    - name: llm
      image: "{{ .Values.image }}"
      command: ["/bin/bash"]
      args:
        - "-c"
        - |
          {{- if .Values.apiKey }}
          export VLLM_API_KEY=$(cat /etc/secret/vllm-secret/apiKey)
          {{- end }}
          exec /opt/app-root/spyre_entrypoint.sh \
          --model ${VLLM_MODEL_PATH} \
          -tp ${AIU_WORLD_SIZE} \
          --max-model-len ${MAX_MODEL_LEN} \
          --max-num-seqs ${MAX_BATCH_SIZE} \
          --served-model-name {{ .Values.model }} --port 8000
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 420
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: VLLM_MODEL_PATH
          value: "/models/{{ .Values.model }}"
        - name: AIU_WORLD_SIZE
          value: "4"
        - name: VLLM_SPYRE_USE_CB
          value: "1"
        - name: MAX_MODEL_LEN
          value: "{{ .Values.maxModelLen }}"
        - name: MAX_BATCH_SIZE
          value: "{{ .Values.maxBatchSize }}"
        - name: MASTER_PORT
          value: "12355"
        {{- /* Check if .env.llm exists and is a non-empty map */}}
        {{- with .env.llm }}
          {{- /* If it does, '.' (dot) is now scoped to .env.llm */}}
          {{- range $k, $v := . }}
        - name: {{ $k }}
          value: "{{ $v }}"
          {{- end }}
        {{- end }}
      resources:
        requests:
          podman.io/device=/dev/vfio: 4
          memory: "200Gi"
        limits:
          memory: "200Gi"
      ports:
        - containerPort: 8000
          {{- if .Values.port }}
          hostPort: {{ .Values.port }}
          {{- end }}
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm
        {{- if .Values.apiKey }}
        - mountPath: /etc/secret/vllm-secret
          name: vllm-secret
          readOnly: true
        {{- end }}
