antlr4-python3-runtime==4.9.3
cohere==5.19.0
docling==2.60.1
docling-parse==4.7.1
fastapi[all]==0.121.0
fastavro==1.12.1
Flask==3.1.2
grpcio==1.67.1
hf-xet==1.1.1
huggingface-hub==0.36.0
httptools==0.6.4
joblib==1.5.2
lxml==5.4.0
markupsafe==3.0.2
numpy==2.3.1
openai==2.6.0
opencv-python==4.10.0.84
pandas==2.2.3
pdfplumber==0.11.8
pdfminer.six==20251107
Pillow==10.3.0
psutil==7.0.0
pyclipper==1.4.0
pylatexenc==2.10
pymilvus==2.6.2
pywavelets==1.8.0
pyyaml==6.0.2
rapidfuzz==3.13.0
rapidocr==3.4.2
regex==2025.10.23
rtree==1.4.1
Requests==2.32.5
sentence-splitter==1.4
scikit-image==0.25.2
scikit_learn==1.6.1
scipy==1.16.0
shapely==2.1.0
tesserocr==2.9.1
tqdm==4.67.1
transformers==4.57.1
tree_sitter_c==0.23.2
tree_sitter_python==0.23.2
uvicorn==0.38.0
uvloop==0.22.1
ujson==5.10.0
wheel==0.45.1
