name: Scheduled CVE Scan

on:
  schedule:
    - cron: '0 0 */2 * *'

  workflow_dispatch:

jobs:
  minio:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/minio'
  
  etcd:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/etcd'

  rag-base:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/rag-base'

  rag:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'spyre-rag/src'

  rag-ui:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'spyre-rag/ui'

  tools:
    uses: ./.github/workflows/scanner.yml
    with:
      path: 'images/tools'
